USE [master]
GO
/****** Object:  Database [Farm]    Script Date: 24-04-2026 15:50:12 ******/
CREATE DATABASE [Farm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Farm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Farm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Farm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Farm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Farm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Farm]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[ContractId] [int] IDENTITY(1,1) NOT NULL,
	[FarmerId] [int] NULL,
	[CropId] [int] NULL,
	[LandId] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[AgreedRatePerKg] [decimal](10, 2) NULL,
	[ExpectedYield] [decimal](10, 2) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Crops]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crops](
	[CropId] [int] IDENTITY(1,1) NOT NULL,
	[CropKey] [nvarchar](100) NULL,
	[CategoryKey] [nvarchar](100) NULL,
	[GrowthDurationDays] [int] NULL,
	[ExpectedYieldPerAcre] [decimal](10, 2) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CropId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CropStages]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CropStages](
	[StageId] [int] IDENTITY(1,1) NOT NULL,
	[CropId] [int] NULL,
	[StageKey] [nvarchar](100) NULL,
	[DayFrom] [int] NULL,
	[DayTo] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[StageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntityTranslations]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityTranslations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntityName] [nvarchar](50) NULL,
	[EntityId] [int] NULL,
	[FieldName] [nvarchar](50) NULL,
	[LanguageCode] [nvarchar](10) NULL,
	[Value] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FarmerLands]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FarmerLands](
	[LandId] [int] IDENTITY(1,1) NOT NULL,
	[FarmerId] [int] NULL,
	[LandLocation] [nvarchar](200) NULL,
	[SoilType] [nvarchar](50) NULL,
	[WaterSource] [nvarchar](50) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[LandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Farmers]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farmers](
	[FarmerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Phone] [nvarchar](15) NULL,
	[Village] [nvarchar](100) NULL,
	[District] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[LandSize] [decimal](10, 2) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[FarmerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FarmerUpdates]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FarmerUpdates](
	[UpdateId] [int] IDENTITY(1,1) NOT NULL,
	[ContractId] [int] NULL,
	[PhotoUrl] [nvarchar](300) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UpdateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Harvests]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Harvests](
	[HarvestId] [int] IDENTITY(1,1) NOT NULL,
	[ContractId] [int] NULL,
	[HarvestDate] [date] NULL,
	[QuantityKg] [decimal](10, 2) NULL,
	[QualityGrade] [nvarchar](50) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[HarvestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inputs]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inputs](
	[InputId] [int] IDENTITY(1,1) NOT NULL,
	[InputKey] [nvarchar](100) NULL,
	[TypeKey] [nvarchar](100) NULL,
	[Unit] [nvarchar](20) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[InputId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InputTransactions]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InputTransactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[ContractId] [int] NULL,
	[InputId] [int] NULL,
	[Quantity] [decimal](10, 2) NULL,
	[CostPerUnit] [decimal](10, 2) NULL,
	[IssuedDate] [date] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[LanguageCode] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[MessageKey] [nvarchar](150) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[ContractId] [int] NULL,
	[TotalQty] [decimal](10, 2) NULL,
	[RatePerKg] [decimal](10, 2) NULL,
	[GrossAmount] [decimal](12, 2) NULL,
	[InputCost] [decimal](12, 2) NULL,
	[NetPayable] [decimal](12, 2) NULL,
	[PaymentDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Translations]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translations](
	[TranslationId] [int] IDENTITY(1,1) NOT NULL,
	[KeyName] [nvarchar](150) NOT NULL,
	[LanguageCode] [nvarchar](10) NOT NULL,
	[TranslatedValue] [nvarchar](500) NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TranslationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Phone] [nvarchar](15) NULL,
	[PasswordHash] [nvarchar](256) NULL,
	[RoleId] [int] NULL,
	[FarmerId] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contracts] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Contracts] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Crops] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Crops] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CropStages] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CropStages] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[EntityTranslations] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[EntityTranslations] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[FarmerLands] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[FarmerLands] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Farmers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Farmers] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[FarmerUpdates] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[FarmerUpdates] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Harvests] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Harvests] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Inputs] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Inputs] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[InputTransactions] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[InputTransactions] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Languages] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Languages] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Translations] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Translations] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD FOREIGN KEY([CropId])
REFERENCES [dbo].[Crops] ([CropId])
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD FOREIGN KEY([FarmerId])
REFERENCES [dbo].[Farmers] ([FarmerId])
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD FOREIGN KEY([LandId])
REFERENCES [dbo].[FarmerLands] ([LandId])
GO
ALTER TABLE [dbo].[Crops]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[CropStages]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[CropStages]  WITH CHECK ADD FOREIGN KEY([CropId])
REFERENCES [dbo].[Crops] ([CropId])
GO
ALTER TABLE [dbo].[FarmerLands]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[FarmerLands]  WITH CHECK ADD FOREIGN KEY([FarmerId])
REFERENCES [dbo].[Farmers] ([FarmerId])
GO
ALTER TABLE [dbo].[Farmers]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[FarmerUpdates]  WITH CHECK ADD FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contracts] ([ContractId])
GO
ALTER TABLE [dbo].[FarmerUpdates]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Harvests]  WITH CHECK ADD FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contracts] ([ContractId])
GO
ALTER TABLE [dbo].[Harvests]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Inputs]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[InputTransactions]  WITH CHECK ADD FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contracts] ([ContractId])
GO
ALTER TABLE [dbo].[InputTransactions]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[InputTransactions]  WITH CHECK ADD FOREIGN KEY([InputId])
REFERENCES [dbo].[Inputs] ([InputId])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contracts] ([ContractId])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Translations]  WITH CHECK ADD  CONSTRAINT [FK_Translations_Language] FOREIGN KEY([LanguageCode])
REFERENCES [dbo].[Languages] ([LanguageCode])
GO
ALTER TABLE [dbo].[Translations] CHECK CONSTRAINT [FK_Translations_Language]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
/****** Object:  StoredProcedure [dbo].[AddHarvest]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddHarvest]
    @ContractId INT,
    @Date DATE,
    @Qty DECIMAL(10,2),
    @Grade NVARCHAR(50),
    @UserId INT
AS
BEGIN
    INSERT INTO Harvests(ContractId,HarvestDate,QuantityKg,QualityGrade,CreatedBy)
    VALUES(@ContractId,@Date,@Qty,@Grade,@UserId);
END
GO
/****** Object:  StoredProcedure [dbo].[AddInputTransaction]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddInputTransaction]
    @ContractId INT,
    @InputId INT,
    @Qty DECIMAL(10,2),
    @Cost DECIMAL(10,2),
    @UserId INT
AS
BEGIN
    INSERT INTO InputTransactions(ContractId,InputId,Quantity,CostPerUnit,IssuedDate,CreatedBy)
    VALUES(@ContractId,@InputId,@Qty,@Cost,GETDATE(),@UserId);
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteUser]
    @UserId INT,
    @UserIdAudit INT
AS
BEGIN
    UPDATE Users
    SET IsDeleted=1, UpdatedBy=@UserIdAudit, UpdatedDate=SYSUTCDATETIME()
    WHERE UserId=@UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[GeneratePayment]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GeneratePayment]
    @ContractId INT,
    @UserId INT
AS
BEGIN
    DECLARE @TotalQty DECIMAL(10,2)=0, @Rate DECIMAL(10,2)=0, @InputCost DECIMAL(12,2)=0;

    SELECT @TotalQty=ISNULL(SUM(QuantityKg),0) FROM Harvests WHERE ContractId=@ContractId AND IsDeleted=0;
    SELECT @Rate=AgreedRatePerKg FROM Contracts WHERE ContractId=@ContractId;
    SELECT @InputCost=ISNULL(SUM(Quantity*CostPerUnit),0) FROM InputTransactions WHERE ContractId=@ContractId AND IsDeleted=0;

    INSERT INTO Payments(ContractId,TotalQty,RatePerKg,GrossAmount,InputCost,NetPayable,CreatedBy)
    VALUES(@ContractId,@TotalQty,@Rate,@TotalQty*@Rate,@InputCost,(@TotalQty*@Rate)-@InputCost,@UserId);
END
GO
/****** Object:  StoredProcedure [dbo].[GetContracts]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetContracts]
    @LanguageCode NVARCHAR(10),
    @Search NVARCHAR(100)=NULL,
    @PageNumber INT=1,
    @PageSize INT=10
AS
BEGIN
    DECLARE @Offset INT = (@PageNumber-1)*@PageSize;

    SELECT con.ContractId, f.Name FarmerName,
           ISNULL(t.TranslatedValue,c.CropKey) CropName,
           con.StartDate, con.EndDate, con.AgreedRatePerKg, con.Status
    FROM Contracts con
    JOIN Farmers f ON f.FarmerId=con.FarmerId
    JOIN Crops c ON c.CropId=con.CropId
    LEFT JOIN Translations t ON t.KeyName=c.CropKey AND t.LanguageCode=@LanguageCode AND t.IsDeleted=0
    WHERE con.IsDeleted=0
      AND (@Search IS NULL OR f.Name LIKE '%'+@Search+'%' OR t.TranslatedValue LIKE '%'+@Search+'%')
    ORDER BY con.ContractId DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;

    SELECT COUNT(1)
    FROM Contracts con
    JOIN Farmers f ON f.FarmerId=con.FarmerId
    JOIN Crops c ON c.CropId=con.CropId
    LEFT JOIN Translations t ON t.KeyName=c.CropKey AND t.LanguageCode=@LanguageCode AND t.IsDeleted=0
    WHERE con.IsDeleted=0
      AND (@Search IS NULL OR f.Name LIKE '%'+@Search+'%' OR t.TranslatedValue LIKE '%'+@Search+'%');
END
GO
/****** Object:  StoredProcedure [dbo].[GetCrops]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetCrops]
    @LanguageCode NVARCHAR(10),
    @Search NVARCHAR(100)=NULL,
    @PageNumber INT=1,
    @PageSize INT=10
AS
BEGIN
    DECLARE @Offset INT = (@PageNumber-1)*@PageSize;

    SELECT c.CropId, c.CropKey,
           ISNULL(t.TranslatedValue, c.CropKey) AS CropName,
           c.GrowthDurationDays, c.ExpectedYieldPerAcre
    FROM Crops c
    LEFT JOIN Translations t
      ON t.KeyName=c.CropKey AND t.LanguageCode=@LanguageCode AND t.IsDeleted=0
    WHERE c.IsDeleted=0
      AND (@Search IS NULL OR t.TranslatedValue LIKE '%'+@Search+'%' OR c.CropKey LIKE '%'+@Search+'%')
    ORDER BY c.CropId DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;

    SELECT COUNT(1) TotalCount
    FROM Crops c
    LEFT JOIN Translations t
      ON t.KeyName=c.CropKey AND t.LanguageCode=@LanguageCode AND t.IsDeleted=0
    WHERE c.IsDeleted=0
      AND (@Search IS NULL OR t.TranslatedValue LIKE '%'+@Search+'%' OR c.CropKey LIKE '%'+@Search+'%');
END
GO
/****** Object:  StoredProcedure [dbo].[GetFarmerByPhone]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFarmerByPhone]
    @Phone NVARCHAR(15)
AS
BEGIN
    SELECT TOP 1 *
    FROM Farmers
    WHERE Phone = @Phone
      AND IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[GetFarmers]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetFarmers]
    @Search NVARCHAR(100)=NULL,
    @PageNumber INT=1,
    @PageSize INT=10
AS
BEGIN
    DECLARE @Offset INT = (@PageNumber-1)*@PageSize;

    SELECT FarmerId, Name, Phone, Village, District, State, LandSize
    FROM Farmers
    WHERE IsDeleted=0
      AND (@Search IS NULL OR Name LIKE '%'+@Search+'%' OR Phone LIKE '%'+@Search+'%')
    ORDER BY FarmerId DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;

    SELECT COUNT(1) TotalCount
    FROM Farmers
    WHERE IsDeleted=0
      AND (@Search IS NULL OR Name LIKE '%'+@Search+'%' OR Phone LIKE '%'+@Search+'%');
END
GO
/****** Object:  StoredProcedure [dbo].[GetHarvests]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetHarvests]
    @ContractId INT=NULL,
    @PageNumber INT=1,
    @PageSize INT=10
AS
BEGIN
    DECLARE @Offset INT = (@PageNumber-1)*@PageSize;

    SELECT *
    FROM Harvests
    WHERE IsDeleted=0 AND (@ContractId IS NULL OR ContractId=@ContractId)
    ORDER BY HarvestDate DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;

    SELECT COUNT(1)
    FROM Harvests
    WHERE IsDeleted=0 AND (@ContractId IS NULL OR ContractId=@ContractId);
END
GO
/****** Object:  StoredProcedure [dbo].[GetInputTransactions_Paged]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetInputTransactions_Paged]
    @ContractId INT=NULL,
    @PageNumber INT=1,
    @PageSize INT=10
AS
BEGIN
    DECLARE @Offset INT = (@PageNumber-1)*@PageSize;

    SELECT *
    FROM InputTransactions
    WHERE IsDeleted=0 AND (@ContractId IS NULL OR ContractId=@ContractId)
    ORDER BY TransactionId DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;

    SELECT COUNT(1)
    FROM InputTransactions
    WHERE IsDeleted=0 AND (@ContractId IS NULL OR ContractId=@ContractId);
END
GO
/****** Object:  StoredProcedure [dbo].[GetLanguages]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetLanguages]
AS
BEGIN
    SELECT LanguageCode, Name
    FROM Languages
    WHERE IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[GetNotifications]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetNotifications]
    @UserId INT,
    @PageNumber INT=1,
    @PageSize INT=10
AS
BEGIN
    DECLARE @Offset INT = (@PageNumber-1)*@PageSize;

    SELECT NotificationId, MessageKey, CreatedDate
    FROM Notifications
    WHERE UserId=@UserId AND IsDeleted=0
    ORDER BY NotificationId DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;

    SELECT COUNT(1)
    FROM Notifications
    WHERE UserId=@UserId AND IsDeleted=0;
END
GO
/****** Object:  StoredProcedure [dbo].[GetPayments]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetPayments]
    @PageNumber INT=1,
    @PageSize INT=10
AS
BEGIN
    DECLARE @Offset INT = (@PageNumber-1)*@PageSize;

    SELECT *
    FROM Payments
    WHERE IsDeleted=0
    ORDER BY PaymentId DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;

    SELECT COUNT(1) FROM Payments WHERE IsDeleted=0;
END
GO
/****** Object:  StoredProcedure [dbo].[GetRoles]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetRoles]
AS
BEGIN
    SELECT RoleId, RoleName FROM Roles WHERE IsDeleted=0;
END
GO
/****** Object:  StoredProcedure [dbo].[GetTranslations]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetTranslations]
    @LanguageCode NVARCHAR(10)
AS
BEGIN
    SELECT KeyName, TranslatedValue
    FROM Translations
    WHERE LanguageCode = @LanguageCode AND IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetUsers]
    @Search NVARCHAR(100)=NULL,
    @PageNumber INT=1,
    @PageSize INT=10
AS
BEGIN
    DECLARE @Offset INT = (@PageNumber-1)*@PageSize;

    SELECT UserId, Name, Phone, RoleId, FarmerId
    FROM Users
    WHERE IsDeleted=0
      AND (@Search IS NULL OR Name LIKE '%'+@Search+'%' OR Phone LIKE '%'+@Search+'%')
    ORDER BY UserId DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;

    SELECT COUNT(1) TotalCount
    FROM Users
    WHERE IsDeleted=0
      AND (@Search IS NULL OR Name LIKE '%'+@Search+'%' OR Phone LIKE '%'+@Search+'%');
END
GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Login]
    @Phone NVARCHAR(15)
AS
BEGIN
    SELECT 
        UserId, Name, Phone, PasswordHash, RoleId, FarmerId
    FROM Users
    WHERE Phone = @Phone
      AND IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SaveContract]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SaveContract]
    @ContractId INT,
    @FarmerId INT,
    @CropId INT,
    @LandId INT,
    @StartDate DATE,
    @EndDate DATE,
    @Rate DECIMAL(10,2),
    @Yield DECIMAL(10,2),
    @UserId INT
AS
BEGIN
    IF @ContractId=0
        INSERT INTO Contracts(FarmerId,CropId,LandId,StartDate,EndDate,AgreedRatePerKg,ExpectedYield,CreatedBy)
        VALUES(@FarmerId,@CropId,@LandId,@StartDate,@EndDate,@Rate,@Yield,@UserId);
    ELSE
        UPDATE Contracts
        SET StartDate=@StartDate,EndDate=@EndDate,AgreedRatePerKg=@Rate,ExpectedYield=@Yield,
            UpdatedBy=@UserId,UpdatedDate=SYSUTCDATETIME()
        WHERE ContractId=@ContractId;
END
GO
/****** Object:  StoredProcedure [dbo].[SaveCrop]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SaveCrop]
    @CropId INT,
    @CropKey NVARCHAR(100),
    @CategoryKey NVARCHAR(100),
    @Duration INT,
    @Yield DECIMAL(10,2),
    @UserId INT
AS
BEGIN
    IF @CropId=0
        INSERT INTO Crops(CropKey,CategoryKey,GrowthDurationDays,ExpectedYieldPerAcre,CreatedBy)
        VALUES(@CropKey,@CategoryKey,@Duration,@Yield,@UserId);
    ELSE
        UPDATE Crops
        SET CropKey=@CropKey,CategoryKey=@CategoryKey,GrowthDurationDays=@Duration,
            ExpectedYieldPerAcre=@Yield,UpdatedBy=@UserId,UpdatedDate=SYSUTCDATETIME()
        WHERE CropId=@CropId;
END
GO
/****** Object:  StoredProcedure [dbo].[SaveEntityTranslation]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SaveEntityTranslation]
    @EntityName NVARCHAR(50),
    @EntityId INT,
    @FieldName NVARCHAR(50),
    @LanguageCode NVARCHAR(10),
    @Value NVARCHAR(MAX),
    @UserId INT
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM EntityTranslations 
        WHERE EntityName=@EntityName AND EntityId=@EntityId 
          AND FieldName=@FieldName AND LanguageCode=@LanguageCode AND IsDeleted=0
    )
    BEGIN
        UPDATE EntityTranslations
        SET Value=@Value, UpdatedBy=@UserId, UpdatedDate=SYSUTCDATETIME()
        WHERE EntityName=@EntityName AND EntityId=@EntityId 
          AND FieldName=@FieldName AND LanguageCode=@LanguageCode;
    END
    ELSE
    BEGIN
        INSERT INTO EntityTranslations(EntityName,EntityId,FieldName,LanguageCode,Value,CreatedBy)
        VALUES(@EntityName,@EntityId,@FieldName,@LanguageCode,@Value,@UserId);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SaveFarmer]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SaveFarmer]
    @FarmerId INT,
    @Name NVARCHAR(100),
    @Phone NVARCHAR(15),
    @Village NVARCHAR(100),
    @District NVARCHAR(100),
    @State NVARCHAR(100),
    @LandSize DECIMAL(10,2),
    @UserId INT
AS
BEGIN
    IF @FarmerId=0
        INSERT INTO Farmers(Name,Phone,Village,District,State,LandSize,CreatedBy)
        VALUES(@Name,@Phone,@Village,@District,@State,@LandSize,@UserId);
    ELSE
        UPDATE Farmers SET Name=@Name,Phone=@Phone,Village=@Village,District=@District,State=@State,
            LandSize=@LandSize,UpdatedBy=@UserId,UpdatedDate=SYSUTCDATETIME()
        WHERE FarmerId=@FarmerId;
END
GO
/****** Object:  StoredProcedure [dbo].[SaveFarmerLand]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SaveFarmerLand]
    @LandId INT,
    @FarmerId INT,
    @Location NVARCHAR(200),
    @SoilType NVARCHAR(50),
    @WaterSource NVARCHAR(50),
    @UserId INT
AS
BEGIN
    IF @LandId=0
        INSERT INTO FarmerLands(FarmerId,LandLocation,SoilType,WaterSource,CreatedBy)
        VALUES(@FarmerId,@Location,@SoilType,@WaterSource,@UserId);
    ELSE
        UPDATE FarmerLands
        SET LandLocation=@Location,SoilType=@SoilType,WaterSource=@WaterSource,
            UpdatedBy=@UserId,UpdatedDate=SYSUTCDATETIME()
        WHERE LandId=@LandId;
END
GO
/****** Object:  StoredProcedure [dbo].[SaveFarmerWithLand]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveFarmerWithLand]
    @FarmerId INT,
    @Name NVARCHAR(100),
    @Phone NVARCHAR(15),
    @Village NVARCHAR(100),
    @District NVARCHAR(100),
    @State NVARCHAR(100),
    @LandSize DECIMAL(10,2),

    @LandId INT,
    @Location NVARCHAR(200),
    @SoilType NVARCHAR(50),
    @WaterSource NVARCHAR(50),

    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NewFarmerId INT;

    -- 🔹 STEP 1: Insert or Update Farmer
    IF @FarmerId = 0
    BEGIN
        INSERT INTO Farmers(Name, Phone, Village, District, State, LandSize, CreatedBy)
        VALUES (@Name, @Phone, @Village, @District, @State, @LandSize, @UserId);

        SET @NewFarmerId = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        UPDATE Farmers
        SET Name = @Name,
            Phone = @Phone,
            Village = @Village,
            District = @District,
            State = @State,
            LandSize = @LandSize,
            UpdatedBy = @UserId,
            UpdatedDate = SYSUTCDATETIME()
        WHERE FarmerId = @FarmerId;

        SET @NewFarmerId = @FarmerId;
    END

    -- 🔹 STEP 2: Insert or Update Land
    IF @LandId = 0
    BEGIN
        INSERT INTO FarmerLands(FarmerId, LandLocation, SoilType, WaterSource, CreatedBy)
        VALUES (@NewFarmerId, @Location, @SoilType, @WaterSource, @UserId);
    END
    ELSE
    BEGIN
        UPDATE FarmerLands
        SET LandLocation = @Location,
            SoilType = @SoilType,
            WaterSource = @WaterSource,
            UpdatedBy = @UserId,
            UpdatedDate = SYSUTCDATETIME()
        WHERE LandId = @LandId;
    END

    -- 🔹 RETURN FarmerId (IMPORTANT)
    SELECT @NewFarmerId AS FarmerId;
END
GO
/****** Object:  StoredProcedure [dbo].[SaveInput]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SaveInput]
    @InputId INT,
    @InputKey NVARCHAR(100),
    @TypeKey NVARCHAR(100),
    @Unit NVARCHAR(20),
    @UserId INT
AS
BEGIN
    IF @InputId=0
        INSERT INTO Inputs(InputKey,TypeKey,Unit,CreatedBy)
        VALUES(@InputKey,@TypeKey,@Unit,@UserId);
    ELSE
        UPDATE Inputs
        SET InputKey=@InputKey,TypeKey=@TypeKey,Unit=@Unit,
            UpdatedBy=@UserId,UpdatedDate=SYSUTCDATETIME()
        WHERE InputId=@InputId;
END
GO
/****** Object:  StoredProcedure [dbo].[SaveTranslation]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SaveTranslation]
    @KeyName NVARCHAR(150),
    @LanguageCode NVARCHAR(10),
    @Value NVARCHAR(500),
    @UserId INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Translations WHERE KeyName=@KeyName AND LanguageCode=@LanguageCode AND IsDeleted=0)
    BEGIN
        UPDATE Translations
        SET TranslatedValue=@Value, UpdatedBy=@UserId, UpdatedDate=SYSUTCDATETIME()
        WHERE KeyName=@KeyName AND LanguageCode=@LanguageCode;
    END
    ELSE
    BEGIN
        INSERT INTO Translations(KeyName, LanguageCode, TranslatedValue, CreatedBy)
        VALUES(@KeyName, @LanguageCode, @Value, @UserId);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SaveUser]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SaveUser]
    @UserId INT,
    @Name NVARCHAR(100),
    @Phone NVARCHAR(15),
    @PasswordHash NVARCHAR(256),
    @RoleId INT,
    @FarmerId INT = NULL,
    @UserIdAudit INT
AS
BEGIN
    IF @UserId = 0
    BEGIN
        INSERT INTO Users(Name,Phone,PasswordHash,RoleId,FarmerId,CreatedBy)
        VALUES(@Name,@Phone,@PasswordHash,@RoleId,@FarmerId,@UserIdAudit);
    END
    ELSE
    BEGIN
        UPDATE Users
        SET Name=@Name, Phone=@Phone, PasswordHash=@PasswordHash,
            RoleId=@RoleId, FarmerId=@FarmerId,
            UpdatedBy=@UserIdAudit, UpdatedDate=SYSUTCDATETIME()
        WHERE UserId=@UserId;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SearchFarmers]    Script Date: 24-04-2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchFarmers]
    @Search NVARCHAR(100) = NULL,
    @PageNumber INT = 1,
    @PageSize INT = 10
AS
BEGIN
    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

    SELECT *
    FROM Farmers
    WHERE IsDeleted = 0
      AND (@Search IS NULL OR Name LIKE '%' + @Search + '%')
    ORDER BY FarmerId DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;

    SELECT COUNT(1)
    FROM Farmers
    WHERE IsDeleted = 0
      AND (@Search IS NULL OR Name LIKE '%' + @Search + '%');
END
GO
USE [master]
GO
